body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

.container {
    padding: 200px 0;
}
form h1 {
    color: #0e4482;
    text-align: center;
}
.input-container {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: #0e4482;
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid #0e4482;
}

/* Set a style for the submit button */
.btn {
  background-color: #0e4482;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}