body{
	margin: 0px;
	padding: 0px;
	background-image: url("../Images/JYM image5.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 100%;
	color: whitesmoke;
	font-family: 'Exo', sans-serif;/**/
}
.header{
	width: 100%;
}
/* Image Div */
.c1{
	position: absolute;
/*	border: 2px ridge blue;*/
	display: inline-block;
	left: 60px;
	top: 20px;

	
}
/* Navbar Div */
.c2{
/*	border: 2px ridge blue;*/
	width: 38%;

	margin:38px auto;
	margin-left: px;
}
/* Button Div */
.c3{
/*	border: 2px ridge blue;*/
	display: inline-block;
	position: absolute;
	right:34px;
	top:10px ;/*	*/

}
.c1 img{
	filter: invert(100%);
}

.c2 ul li{
	display: inline-block;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
}
.c2 ul li a{
	
	color: rgb(178,171,171);;
	display: ;
	text-decoration: none;
	font-size: 20px;
}
.c2 ul li a:hover , .c2 ul li a.active{
	color: whitesmoke;

}/*  
.btn{
	padding: 5px;
	background-color: ;
	color: rgb(178,171,171);;
}
.btn:hover{

	color:whitesmoke ;
	background-color: rgb(145,141,141);

}*/
/*  Button */
.btn{
	padding: 5px;
	margin: 5px;
	color: rgb(178,171,171);
	background-color: black;
	border-style: ridge;
	border-radius: 5px;
	display: inline-block;
	cursor: pointer;
	font-family: 'Lora', serif;
}
.btn:hover{
	color:white ;
	background-color: rgb(145,141,141);
	background-color: ;

}
/* Details Div*/
.c4{
	border: 2px ridge ;/* */
	border-color: rgb(247,245,245);
	margin: 106px 80px;
	padding: 25px;
	display: block;
	width: 33%;
	border-radius: 12px;


}
input{
	font-size: 25px;
	text-align: center;
	margin-left: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 15px;


}
button{
	margin-left: 150px;
	font-size: 20px;
	border-radius: 15px;
	padding: 5px;
	color: ;
	width: 200px;

}
h1{
	text-align: center;

}
button:hover{
	background-color: rgb(196,183,198);
}
